body {
	display: flex;
	justify-content: center;
	font-family: 'Nunito', sans-serif;
}

.page-container {
	width: 1200px;
	height: 3000px;
	background-color: yellow;
	position: relative;
}



/* Area 1 */
.area1 {
	width: 1046px;
    height: 64px;
    position: relative;
    top: 32px;
    left: 32px;
    background-color: tomato;
    display: flex;
    align-items: center;
	justify-content: space-between;
}

/* logo */
.logo-area {
	width: 252px;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: purple;
}

.logo-area img {
    height: 64px;
    width: auto;
    object-fit: contain; /* Ensures the image isn't distorted */
}

.logo-text {
	width: 191px;
	height: 33px;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0.25em;
	color: cyan;
	margin-top: 10px;
}

/* Menu Navigation */
.nav-menu {
	display: flex;
	align-items: center;
}

.nav-menu ul {
	display: flex;
	list-style: none;
}

.nav-menu li {
	margin: 0 25px;
}

.nav-link {
	background: none;
	border: none;
	color: cornflowerblue;
	font-size: 30px;
	font-weight: 400;
	transition: color 0.3s ease;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	padding: 0;
}

.nav-link:hover {
	color: red;
	font-weight: 700;
}



/* Area 2 */
.area2 {
	width: 100%;
    height: auto;
	top: 64px;
    position: relative;
    background-color:brown;
    display: flex;
}

.enjoy-content {
	position: absolute;
	top: 32px;
	left: 32px;
	width: 448px;
	height: 230px;
	background-color:darkgoldenrod;
	z-index: 1;
}

/* Hero Title */
.area2 .enjoy {
	font-size: 96px;
	color:crimson;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	margin: 0;
	line-height: 1;
}

/* Hero Paragraph */
.enjoy-par {
	max-width: 450px;
}

.enjoy-par p {
	font-size: 24px;
	color:darkgreen;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	line-height: 1.5;
	margin: 0;
}

/* Hero Background Image */
.enjoy-image {
	position: a;
    height: 797px;
    width: 1200;
	top: 128px;
	object-fit: contain;
}



/* Area 3 */
.area3 {
	width: 1136px;
	height: 382px;
	top: 957px;
	left: 32px;
	position: absolute;
    background-color: lime;
	padding: 15px;
	box-sizing: border-box;
}

/* About Title */
.area3 .about {
	width: auto;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 40px;
	color:blue;
	position: relative;
	margin-top: 0;
	margin-bottom: 24px;

}

/* About Paragraph */
.about-3-par {
	position: relative;
	max-width: 1136px;
}

.about-3-par p {
	width: 100%;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color:blueviolet;
	position: relative;
	line-height: 141%;
	letter-spacing: 0%;
}



/* Area 4 */
.area4 {
	top: 1371px;
	left: 32px;
	width: 1136px;
	position: absolute;
	background-color: beige;
	padding: 0;

}

/* Popular Drinks Title */
.area4 .popular-drinks {
	width: auto;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 40px;
	color:chocolate;
	position: relative;
	margin-top: 0;
}

/* Popular Drinks Cards */
.cards {
	margin-top: 0;
}

.cards ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	gap: 32px;
	justify-content: flex-start;
}

.cards li {
	width: 376px;
	margin-top: 0;
}

.card {
	display: flex;
	flex-direction: column;
	width: 376px;
	height: auto;
	border-radius: 38px;
	transition: transform 0.3s ease;
	background-color: burlywood;
}

.card-content {
	display: flex;
	flex-direction: column;
	width: 376px;
	border-radius: 38px;
	padding: 32px;
	height: 100%;
	box-sizing: border-box;
}

.card img {
	width: 100%;
	height: 276px;
	object-fit: cover;
	border-radius: 38px;

}

button.product-name {
	background: none;
	border: none;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:mediumseagreen;
	line-height: 100%;
	letter-spacing: 0%;
    display: block;
	transition: color 0.3s ease;
	cursor: pointer;
	padding: 0;
	text-align: left;
}

.product-name:hover {
    color:darkgreen;
}

.product-description p {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: blue;
	line-height: 100%;
	letter-spacing: 0%;
}

.price-cart-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: auto;
}

.price {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: blueviolet;
	line-height: 100%;
	letter-spacing: 0%;
}


.add-to-cart-btn {
    background-color: crimson;
    border: none;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: darkred;
}

.add-to-cart-btn img {
    width: 31px;
    height: 31px;
	border-radius: 0;
}



/* Area 5 */
.area5 {
	width: 100%;
	height: 287px;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	background-color: lightskyblue;
	padding: 32px;
}

/* Who We Are */
.who-we-are {
	font-family: 'Nunito', sans-serif;
	background-color: blue;
	display: inline-block;
	margin-bottom: 24px;
	margin-right: 150px;
}

.who-we-are-content ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 0;
}

.who-we-are-title {
	font-family: 'Nunito', sans-serif;
	color: lightcyan;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0%;
	text-transform: uppercase;
	margin-bottom: 16px;
	margin-top: 0;
}

.who-we-are-link {
	background: none;
	border: none;
	font-family: 'Nunito', sans-serif;
	color: lightpink;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;	
	margin-top: 0;
	display: block;
	transition: color 0.3s ease;
	cursor: pointer;
	padding: 0;
	text-align: left;
}

.who-we-are-link:hover {
	color:darksalmon;
}

/* Follow Us */
.follow-us {
	font-family: 'Nunito', sans-serif;
	background-color: purple;
	display: inline-block;
	margin-bottom: 24px;
}

.follow-us-content ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 0;
}

.follow-us-title {
	font-family: 'Nunito', sans-serif;
	color: lightcyan;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0%;
	text-transform: uppercase;
	margin-bottom: 16px;
	margin-top: 0;
}

.follow-us-link {
	background: none;
	border: none;
	font-family: 'Nunito', sans-serif;
	color: lightpink;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;	
	margin-top: 0;
	display: block;
	transition: color 0.3s ease;
	cursor: pointer;
	padding: 0;
	text-align: left;
}

.follow-us-link:hover {
	color:darksalmon;
}

/* Social Media Icons */
.social-icons {
	background-color: green;
	margin-bottom: 16px;
	display: flex;
	width: fit-content;
}

.social-icons-content ul {
	display: flex;
	list-style: none;
	gap: 24px;
	padding-left: 0;
	margin: 0;
}

.social-icons-link {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons-link img  {
	height: 20px;
	width: auto;
	object-fit: contain;
}

/* Copyright */

.copyright {
	width: 198px;
	height: 18px;
	background-color: gold;
}

.copyright-text {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
}



.enjoy-content {
	position: absolute;
	top: 32px;
	left: 32px;
	width: 448px;
	height: 230px;
	background-color:darkgoldenrod;
	z-index: 1;
}

/* Hero Title */
.area2 .enjoy {
	font-size: 96px;
	color:crimson;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	margin: 0;
	line-height: 1;
}
